.nav-footer {

}

.nav-footer__ul {
  //display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-footer__list-item {
  padding: 0;
  margin: 0;

  & + & {
    margin-left: 60px;
  }
}

.nav-footer__link {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}
